* {
  box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif; 
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background:#fff ;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.text{
  color: #26a89d;
  font-size: 25px;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

 .container .sign-up-container { 
  transform: translateX(100%); 
  opacity: 1;
  z-index: 5;
} 

 .form-container .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1; 
} 

form {
  background:rgb(248, 245, 245);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  background-color: #f1f1f1;
  border: 1px solid #ccc; 
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #2ec4b6;
  box-shadow: 0 0 3px rgba(46, 196, 182, 0.5);
}

button {
  border-radius: 25px;
  border: 1px solid #2ec4b6;
  background-color: #2ec4b6;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 12px;
}

button.ghost {
  background-color: transparent;
  border: 2px solid #fff;
}

button:hover {
  transform: scale(1.05);
  background-color: #26a89d;
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  border: 1.5px solid #ccc;
  border-radius: 30%;
  padding: 10px;
  margin: 0 5px;
  color: #555;
  text-decoration: none;
  transition: 0.3s ease;
  font-size: 16px;
}
.fa-facebook-f{
  padding: 3px;
}

.social-icons a:hover {
  background-color: #2ec4b6;
  color: #fff;
  border-color: #2ec4b6;
  transform: scale(1.1);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #12ac8b;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
  left: 0;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

 .container .overlay-left {
  transform: translateX(0);
}

.container.overlay-right {
  transform: translateX(20%);
} 
